.container {
	display: flex;
	/*align-items: center;
	justify-content: center;*/
	height: 100vh;
	background-color: rgb(0,0,0);
	position: relative;
	padding: 10px;
}
.logo {
	width: 200px;
}
body {
	margin: 0;
	overflow: hidden;
}
